@model IEnumerable<Sistema_Venda_SI.Model.Models.Unidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnDesativado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnDesativado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UnCodigo }) |
                    @Html.ActionLink("Details", "Details",new { id=item.UnCodigo }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.UnCodigo })
            </td>
        </tr>
}
    </tbody>
</table>
