@model SIstema_Venda_SI.ViewModel.ProdutoVM

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>ProdutoVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoTipoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoTipoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidade)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
