@model IEnumerable<ProdutoVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Lista de Produtos</h4>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Tipo de Produto
                </th>
                <th>
                    Unidade
                </th>

                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Codigo
                    </td>
                    <td>
                        @item.Descricao
                    </td>
                    <td>
                        @item.TipoProduto
                    </td>
                    <td>
                        @item.Unidade
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new {  id=item.Codigo}) |
                        @Html.ActionLink("Detalhes", "Detail", new { id=item.Codigo }) |
                        @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo })
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>
