@model Sistema_Venda_SI.Model.Models.TipoPagamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoPagamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpgCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpgCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpgDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpgDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpgDesativado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpgDesativado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
