@model IEnumerable<SIstema_Venda_SI.ViewModel.EntradaProdutoVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntDataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnNuneroNotaFiscal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntDataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnNuneroNotaFiscal)
            </td>
            <td>
                @Html.ActionLink("Editar", "Create", new { codEntrada = item.EntCodigo}) |
                    @Html.ActionLink("Detalhe", "Details", new { codEntrada = item.EntCodigo}) |
                    @Html.ActionLink("Excluir", "Delete", new { codEntrada = item.EntCodigo })
            </td>
        </tr>
}
    </tbody>
</table>
